html {
  color: white;
  font-family:'Source Sans Pro', sans-serif, arial;
  font-weight: semi-bold;
  background-image: url(./paper_texture.jpg);
}

h2 {
  color: gold;
  text-align: center;
  font-size: 60px;
}

h1 {
  color: DimGrey;
  text-align: center;
  font-size: 25px;

}

table {
  margin: 50px auto;
  width: 600px;
  border-radius:10px;
  border-spacing: 10px;

}
td {
  border: 5px solid gold;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 55px;
  background: transparent;
  padding: -10px;
 
}

#btnwrap {
  width: 600px;
  margin: 40px auto;
  text-align: center;
}

.selector {
 font-color: #ffffff;
 border-radius: 520px;
 font-size: 30px;
 color: gold;
 padding:10px;
 cursor: pointer;
 background-color: white;
 margin: 10px;
}


[data-piece='red'], .red {
  background-color: red;
  opacity: 0.7;
}

[data-piece='blue'], .blue {
  background-color: blue;
  opacity: 0.7;
}